<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* body, html {
            height: 100%;
        } */
        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin-bottom: 50px;
        }
        .form-box {
            max-width: 600px;
            width: 100%;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }
    </style>
</head>
<body>
    <%- include('../base/nav') %>
    <h4 class="mb-4 text-center">Add New Student</h4>

    <div class="container form-container">
        <div class="form-box">
            <form action="/students/create" method="post">
                <div class="form-group">
                    <label for="status">Name:</label>
                    <input type="text" id="name" name="name" class="form-control"  required>
                </div>
                <div class="form-group">
                    <label for="college">College:</label>
                    <input type="text" id="college" name="college" class="form-control"  required>
                </div>
                <div class="form-group">
                    <label for="status">Select Status:</label>
                    <select id="status" name="status" class="form-control" required>
                        <option value="placed">Placed</option>
                        <option value="not_placed" selected>Not Placed</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="dsaFinalScore">DsaFinalScore:</label>

                    <input type="number" id="dsaFinalScore" name="dsaFinalScore" class="form-control"  required>
                </div>
                <div class="form-group">
                    <label for="webDFinalScore">WebDFinalScore:</label>

                    <input type="number" id="webDFinalScore" name="webDFinalScore" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="reactFinalScore">ReactFinalScore:</label>

                    <input type="number" id="reactFinalScore" name="reactFinalScore" class="form-control"  required>
                </div>
                <div class="form-group">
                    <label for="batchId">Select Batch:</label>
                    <select id="batchId" name="batchId" class="form-control" required>
                        <!-- Assuming batches are provided dynamically -->
                        <!-- <% batches.forEach(batch => { %> -->
                            <option value="<%= batch._id %>"><%= batch.batchName %></option>
                        <!-- <% }) %> -->
                    </select>
                </div>
                <button type="submit" class="btn btn-success btn-block mt-4">Add Student</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
